{% load static %}
<header class="header" itemscope itemtype="http://schema.org/Organization">
    <div class="overlay"></div>
    <!-- top panel -->
    <div class="top-panel">
        <a href="" class="logo">
            <img src="{% static 'templates/main' %}/img/main/logo.png" alt="">
            <span itemprop="name">AirLess</span>
        </a>
        <ul class="hidden-item" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <li>Тел: <span itemprop="telephone">8 (449) 344 - 07 - 07</span>
            </li>
            <li itemprop="telephone">326 - 07 - 07</li>
            <li itemprop="addressLocality">Адрес: Санкт-Петербург,</li>
            <li itemprop="streetAddress">Невский пр. 14</li>
        </ul>
        <!-- search-block -->
        <div class="search-block">
            <input type="text" placeholder="Поиск" value="">
            <input type="submit" value="">
            <div class="search-popup">
                <a href="" class="item">
                    <span class="photo"><img src="{% static 'templates/main' %}/img/search01.jpg" alt=""></span>
                    <span class="name">ASpro-2700 окрасочныаппарат (агрегат)</span>
                    <span class="price">250 000 <span class="r">a</span></span>
                </a>
                <a href="" class="item">
                    <span class="photo"><img src="{% static 'templates/main' %}/img/search01.jpg" alt=""></span>
                    <span class="name">ASpro-2700 окрасочныаппарат (агрегат)</span>
                    <span class="price">250 000 <span class="r">a</span></span>
                </a>
                <a href="" class="item">
                    <span class="photo"><img src="{% static 'templates/main' %}/img/search01.jpg" alt=""></span>
                    <span class="name">ASpro-2700 окрасочныаппарат (агрегат)</span>
                    <span class="price">250 000 <span class="r">a</span></span>
                </a>
                <div class="link-all"><a href="">Все результаты</a>
                </div>
            </div>
        </div>
        <!-- /search block -->
        <!-- city block -->
        <div class="city-block">
            <a href="" class="selected">Москва</a>
        </div>
        <!-- /city block -->
        <!-- callback block -->
        <div class="callback-block">
            <div class="phones-block">
                <a href="" itemprop="telephone">8(499)344-07-07 </a>
                <br>
                <a href="" itemprop="telephone">326-07-07</a>
            </div>
            <a href="" class="btn btn-callback">Заказать звонок</a>
        </div>
        <!-- /callback block -->
        <!-- auth menu -->
        <nav class="auth-menu">
            <a href="">Личный кабинет</a>&amp;<a href="">Войти</a>
        </nav>
        <!-- /auth menu -->
    </div>
    <!-- /top panel -->
    <!-- bottom panel -->
    <div class="bottom-panel">
        <!-- menu desktop -->
        <nav class="desktop-menu">
            <ul>
                <li class="catalog">
                    <a href="">Каталог</a>
                    <ul>
                        <li>
                            <a href="">
                                <img src="{% static 'templates/main' %}/img/cat-icons/01.png" alt="" />Запасные части</a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{% static 'templates/main' %}/img/cat-icons/02.png" alt="" />Баки для краски</a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{% static 'templates/main' %}/img/cat-icons/01.png" alt="" />Запасные части</a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{% static 'templates/main' %}/img/cat-icons/02.png" alt="" />Краскопульты
                                <br>и удленнители</a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{% static 'templates/main' %}/img/cat-icons/01.png" alt="" />Запасные части</a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{% static 'templates/main' %}/img/cat-icons/02.png" alt="" />Баки для краски</a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{% static 'templates/main' %}/img/cat-icons/01.png" alt="" />Запасные части</a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{% static 'templates/main' %}/img/cat-icons/02.png" alt="" />Краскопульты
                                <br>и удленнители</a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{% static 'templates/main' %}/img/cat-icons/01.png" alt="" />Запасные части</a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{% static 'templates/main' %}/img/cat-icons/02.png" alt="" />Баки для краски</a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="">Оплата</a>
                    <ul>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="">Доставка</a>
                    <ul>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="">Гарантии</a>
                </li>
                <li class="">
                    <a href="">Контакты</a>
                </li>
                <li class="submenu">
                    <a href="">Пункт 1</a>
                    <ul>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="">Пункт 2</a>
                    <ul>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="">Пункт 3</a>
                    <ul>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="">Пункт 4</a>
                    <ul>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="">Пункт 5</a>
                    <ul>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                        <li><a href="">Подпункт 1</a>
                        </li>
                    </ul>
                </li>
                <li class="more submenu">
                    <a href="">Еще</a>
                    <ul id="more">

                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /menu desktop -->
        <div class="inner">
            <div class="count-block">
                <a href="" class="cart empty" data-count="0"></a>
                <div class="ico-wrap">
                    <a href="" class="compare" data-count="1"></a>
                    <a href="" class="favorites" data-count="1"></a>
                </div>
            </div>
            <a href="" class="btn-menu-toggle"></a>
            <a href="" class="btn-auth"></a>
        </div>
    </div>
    <!-- /bottom panel -->
    <!-- menu mobile -->
    <nav class="mobile-menu">
        <a href="" class="btn-toggle"></a>
        <ul>
            <li>
                <a href="">Каталог</a>
                <ul>
                    <li><a href=""><span class="i i-cat01"></span>Запасные части</a>
                    </li>
                    <li><a href=""><span class="i i-cat02"></span>Баки для краски</a>
                    </li>
                    <li><a href=""><span class="i i-cat01"></span>Запасные части</a>
                    </li>
                    <li><a href=""><span class="i i-cat02"></span>Краскопульты<br>и удленнители</a>
                    </li>
                    <li><a href=""><span class="i i-cat01"></span>Запасные части</a>
                    </li>
                    <li><a href=""><span class="i i-cat02"></span>Баки для краски</a>
                    </li>
                    <li><a href=""><span class="i i-cat01"></span>Запасные части</a>
                    </li>
                    <li><a href=""><span class="i i-cat02"></span>Краскопульты<br>и удленнители</a>
                    </li>
                    <li><a href=""><span class="i i-cat01"></span>Запасные части</a>
                    </li>
                    <li><a href=""><span class="i i-cat02"></span>Баки для краски</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">Оплата</a>
                <ul>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">Доставка</a>
                <ul>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">Гарантии</a>
                <ul>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">Контакты</a>
                <ul>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">Пункт 1</a>
                <ul>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">Пункт 2</a>
                <ul>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">Пункт 3</a>
                <ul>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">Пункт 4</a>
                <ul>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">Пункт 5</a>
                <ul>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                    <li><a href="">Подпункт 1</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /menu mobile -->
</header>